<!doctype html>
<html>
<head>

<style>
html, body {
  height: 100%;
}
video{
  margin-right: -4px;
  height: 400px;
}
</style>

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="socket.io-client/dist/socket.io.js"></script>
<script>
$(function() {
var socket = io("http://salty-badlands-97205.herokuapp.com/");
socket.on('part', function(part){
  console.log(part);
  switch (part) {
    case "headlight":
      $("#vid_headlight")[0].play();
      break;
    case "door":
      $("#vid_door")[0].play();
      break;
    case "trunk":
      $("#vid_trunk")[0].play();
      break;
  };
});
});

</script>

<script>var i=document.createElement('iframe');i.style.width=0;i.style.height=0;i.style.display='none';i.src='javascript:false',i.botId='4203830c-c81c-4d09-a297-8d216a7a11e8',i.botTitle='ReachNow',i.baseUrl='https://bots.rundexter.com';var d=document.getElementsByTagName('script');d=d[d.length-1],d.parentNode.insertBefore(i,d);var o=i.contentWindow.document;o.open()._l=function(){var e=this.createElement('script');e.src='https://rundexter.com/webwidget',this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close();</script>

</head>
<body>
  <video id="vid_headlight">
      <source src="vid/headlights.mp4" type="video/mp4">
  </video>
  <video id="vid_door">
      <source src="vid/door.mp4" type="video/mp4">
  </video>
  <video id="vid_trunk">
      <source src="vid/trunk.mp4" type="video/mp4">
  </video>
</body>
</html>
